{% extends "snippets/Base.html" %}

{% block header %}
    <title>About - Stirling Dish Generator</title>
{% endblock header %}

{% block body %}
{% load static %}
<h3 class = "m-3">About the website</h3>
<div class = "m-3">
    <h5 class = "my-2">Monitoring And Visualization System For A Dish Stirling Generator</h5>
    <div class = "my-2">This final degree project by the Polytechnic University of Catalonia had as a primary objective
        the development of a web application that would allow its users to see in real time the data gathered by the
        sensors of the Stirling Dish Generator installed at the rooftop of the ETSEIB building, in Barcelona.
        <a target="_blank" href="https://www.google.es/maps/place/School+of+Industrial+Engineering+of+Barcelona+(ETSEIB)+-+UPC/@41.3843334,2.1142114,324m/data=!3m1!1e3!4m5!3m4!1s0x12a49678ef40aebd:0x898caaf63b47e51b!8m2!3d41.3847923!4d2.115638">
            See location.</a><br>
    The data is stored permanently and not only can it be searched both in table format and in graph format but it can
        also be downloaded as a "csv" file from the "Table" page.
    </div>

    <h5 class = "my-2">How it works</h5>
    <h6 class = "my-2"> Table </h6>
    <div class = "my-2">
        The "Table" page loads the table for today by default, changing the date on the date selector
        will automatically update the table.<br>
        The data to Download with the "Download CSV" button is synchronized with the table automatically so you can
        directly download filtered data.
    The table allows filtering and reordering in each column and the lack of a "T_Power" column is explained by the fact
        that the Thermal Power is a calculated value, in other words, if you were to download and use this data, you can
        calculate the value of T_Power with this simple product:<br>
        T_Power = Cool_Flow * ( Cool_T_out - Cool_T_in ) * 4184 / 60<br>
    </div>

    <h6 class = "my-2"> Graph </h6>
    <div class = "my-2">
        The "Graph" page loads the graph for today by default, changing the date on the date selector
        will also automatically update the graph.<br>
        The graph selector on the left allows multiple variables to be checked at once, and the graph is synchronized
        with it automatically.<br>
        If more than 90 days
    </div>
</div>
<div class = "my-3 text-center">
    <h5 class = "my-2">Project Author:</h5>
    <div class = "my-2">Raimon Estañol Ruscalleda </div>
</div>
<div class = "my-3 text-center">
    <div class = "my-2">Project Director: Daniel Montesinos Miracle </div>
    <div class = "my-2">Department of Electronic Engineering </div>
</div>
<div class = "my-3 text-center">
    <div class = "my-2"><a href="https://etseib.upc.edu/en" target="_blank">ETSEIB</a> </div>
    <div class = "my-2"><a href="https://www.citcea.upc.edu/" target="_blank">CITCEA</a> </div>

</div>
{% endblock body %}