{% extends "snippets/Base.html" %}

{% block header %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--    {% load static %}-->
    <title>Stirling Graphs</title>
{% endblock header %}

{% block body %}

<div style="display: grid; grid-template-columns: 120px auto;">
    <div style="grid-column: 1;" class=" mx-3" id="graph-selector"></div>
    <div style="grid-column: 2;" class="mx-3" id="chart_div"></div>
</div>
{% include "snippets/js-graph.html" %}
{% endblock body %}