<script> 
  google.charts.load('current', {'packages':['line']});  
  
  $( function() {
    var from = $( "#fromDate" )
      .datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true
      })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
    to = $( "#toDate" ).datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true
    })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
    from.attr("autocomplete","off")
    to.attr("autocomplete","off")

    function getDate( element ) {
      var date;
      var dateFormat = "yy-mm-dd";
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
      return date;
    }

    function strDate( element, addDays ) {
      var selectedDate = getDate( element )
      selectedDate.setDate(selectedDate.getDate() + addDays);
      return reprDate( selectedDate )
    };
    function reprDate( selectedDate ){
      var selectedDate= new Date(selectedDate)
      var month = selectedDate.getMonth() + 1
      month = month.toString().padStart(2, '0')
      var day = selectedDate.getDate().toString().padStart(2, '0')
      var year = selectedDate.getFullYear().toString()
      return year+month+day;
    };
    var toDate = new Date();
    var fromDate = new Date();
    toDate.setDate(toDate.getDate() + 1);
    fromDate = reprDate(fromDate)
    toDate = reprDate(toDate);

    $("#fromDate").change(function() {
      fromDate = strDate(this, 0)
      retrieveData(fromDate,toDate)
    });
    $("#toDate").change(function() {
      toDate = strDate(this, 1)
      retrieveData(fromDate,toDate)
    });
    function setDataTable(){
      var table = new Tabulator("#example-table", {

        data:tableData,           //load row data from array
        //autoColumns:true,         //create columns from data field names
        layout:"fitColumns",      //fit columns to width of table
        responsiveLayout:"hide",  //hide columns that dont fit on the table
        tooltips:true,            //show tool tips on cells
        addRowPos:"top",          //when adding a new row, add it to the top of the table
        history:true,             //allow undo and redo actions on the table
        pagination:"local",       //paginate the data
        paginationSize:20,         //allow 7 rows per page of data
        movableColumns:true,      //allow column order to be changed
        resizableRows:true,       //allow row order to be changed
        initialSort:[             //set the initial sort order of the data
          {column:"DATETIME", dir:"asc"},
        ],
        columns:[                 //define the table columns
          {title:"DATETIME", field:"DATETIME", headerFilter:"input"},
          {title:"AMB_T", field:"AMB_T", headerFilter:"input"},
          {title:"BOILER_T", field:"BOILER_T", headerFilter:"input"},
          {title:"HEAT_T_CON", field:"HEAT_T_CON", headerFilter:"input"},
          {title:"HEAT_T_LIM", field:"HEAT_T_LIM", headerFilter:"input"},
          {title:"COOL_FLOW", field:"COOL_FLOW", headerFilter:"input"},
          {title:"COOL_T_IN", field:"COOL_T_IN", headerFilter:"input"},
          {title:"COOL_T_OUT", field:"COOL_T_OUT", headerFilter:"input"},
          {title:"CURRENT", field:"CURRENT", headerFilter:"input"},
          {title:"VOLTAGE", field:"VOLTAGE", headerFilter:"input"},
          {title:"E_POWER", field:"E_POWER", headerFilter:"input"},
          {title:"E_ENERGY", field:"E_ENERGY", headerFilter:"input"},
          {title:"STATUS", field:"STATUS", headerFilter:"input"},
        ],
      })
      //table.setData(endpoint);
      document.getElementById("download-csv").addEventListener("click", function(){
      table.download("csv", "data.csv");});
    };
    
    google.charts.setOnLoadCallback(drawChart);
    var columns=["DATETIME","AMB_T","BOILER_T","HEAT_T_CON","HEAT_T_LIM","COOL_FLOW","COOL_T_IN","COOL_T_OUT","CURRENT","VOLTAGE","E_POWER","E_ENERGY","STATUS"]
    columns.shift()
    graphVars = {}
    function addVarSelector(){
      var varCheckboxArray = columns.map(name => {
        graphVars[name]=false
        return `
          <div class='${name} ml-4'>
            <input class="form-check-input" type="checkbox" value="${name}" id="${name}">
            <label class="form-check-label" for="${name}">${name}</label>
          </div>
        `
      })
      $('#graph-selector').html(varCheckboxArray.join(''))
    }
    addVarSelector()    


    function checkInitial() {
      document.getElementById("AMB_T").checked = true;
      graphVars["AMB_T"]=true
    }
    checkInitial()
    

    var endpoint = {{endpoint}} +'today/';
    /*$.ajax({
        method: "Get",
        url: endpoint,
        success: function(data){
        console.log(data)},
        error: function(error_data){
        console.log(error_data)}
    })*/


    // google.charts.load('current', {'packages':['line', 'corechart']});
    // google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var materialOptions = {
        // chart: {
        //   title: 'Average Temperatures and Daylight in Iceland Throughout the Year'
        // },
        //width: 900,
        height: 500,
        series: {},
          // Gives each series an axis name that matches the Y-axis below.
        //   0: {axis: 'Temps'},
        //   1: {axis: 'Daylight'}
        // },
        axes: {
          // Adds labels to each axis; they don't have to match the axis names.
          // y: {
          //   Temps: {label: 'Temps (Celsius)'},
          //   Daylight: {label: 'Daylight'}
          // }
        }
      };

      var data = new google.visualization.DataTable();

      data.addColumn('datetime', 'Datetime');
      columns.forEach(varName => {
        if(graphVars[varName]==true){
          var newName;
          if( varName.includes("_T")){
              newName=`${varName} [ºC]`
          } else if( varName.includes("POWER")){
              newName=`${varName} [W]`
          } else if ( varName.includes("FLOW")){
              newName=`${varName} [l/min]`
          } else if( varName.includes("CURRENT")){
              newName=`${varName} [A]`
          } else if ( varName.includes("VOLTAGE")){
              newName=`${varName} [V]`
          } else if ( varName.includes("ENERGY")){
              newName=`${varName} [kWh]`
          }
          data.addColumn('number',newName)                   
        }
      });
      // data.addColumn('number', "AMB_T");
      // data.addColumn('number', "BOILER_T");
      // data.addColumn('number', "HEAT_T_CON");
      // data.addColumn('number', "HEAT_T_LIM");
      // data.addColumn('number', "COOL_FLOW");
      // data.addColumn('number', "COOL_T_IN");
      // data.addColumn('number', "COOL_T_OUT");
      // data.addColumn('number', "CURRENT");
      // data.addColumn('number', "VOLTAGE");
      // data.addColumn('number', "E_POWER");
      // data.addColumn('number', "E_ENERGY");
      // data.addColumn('number', "STATUS");
      

      
      function getFullArray(item) {
        varNames=Object.keys(graphVars)
        var fullArray=[new Date(item.DATETIME)]        
        columns.forEach(varName=>{
          if(graphVars[varName]==true){fullArray.push(parseFloat(item[varName]))}
        })
        return fullArray
      }

      function mapData() {
      return tableData.map(getFullArray);
      }

      data.addRows(mapData());
      // function drawToolbar() {
      //   var components = [
      //       {type: 'csv', datasource: endpoint}
      //   ];

      //   var container = document.getElementById('toolbar_div');
      //   google.visualization.drawToolbar(container, components);
      // };
      // drawToolbar()
      var chartDiv = document.getElementById('chart_div');
      var materialChart = new google.charts.Line(chartDiv);
      materialChart.draw(data, google.charts.Line.convertOptions(materialOptions));
      
      google.visualization.events.addListener(materialChart, 'error', function (googleError) {
        google.visualization.errors.removeError(googleError.id);
      });
    } 

    function retrieveData(fromDate, toDate){
      endpoint = {{endpoint}} + fromDate + '/' + toDate +'/'
      //table.setData(endpoint);
      $.ajax({
        method: "Get",
        url: endpoint,
        success: function(data){
        tableData=data
        setDataTable()
        try{drawChart()}
        catch{}
        },error: function(error_data){
        // console.log(error_data)
        }
      })
    };
    retrieveData(fromDate, toDate)  
    $(".form-check-input").change(function() {
      if(this.checked) {
        graphVars[$(this).attr('id')]=true
        drawChart()
      }
      else{
        graphVars[$(this).attr('id')]=false
        drawChart()
      }
    });
  })

  
</script>