<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registries</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<h1>Hello World</h1>
<span><select class="browser-default custom-select" id="myselect">
    <option value="1">Mr</option>
    <option value="2">Mrs</option>
    <option value="3">Ms</option>
    <option value="4">Dr</option>
    <option value="5">Prof</option>
</select></span>

<span><label for="fromDate">From:</label><input class="mx-3" type="text" id="fromDate"></span>
<span><label for="toDate">To:</label><input class="mx-3" type="text" id="toDate"></span>


<script>
    {% block jquery %}
    var endpoint = {{endpoint}} +'today/'
    console.log(endpoint)
    /*$.ajax({
        method: "Get",
        url: endpoint,
        success: function(data){
        console.log(data)},
        error: function(error_data){
        console.log(error_data)}
    })*/
    $( function() {
      var from = $( "#fromDate" )
          .datepicker({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true
          })
          .on( "change", function() {
            to.datepicker( "option", "minDate", getDate( this ) );
          }),
      to = $( "#toDate" ).datepicker({
          dateFormat: "yy-mm-dd",
          changeMonth: true,
          changeYear: true
        })
        .on( "change", function() {
          from.datepicker( "option", "maxDate", getDate( this ) );
        });

      function getDate( element ) {
        var date;
        var dateFormat = "yy-mm-dd";
        try {
          date = $.datepicker.parseDate( dateFormat, element.value );
        } catch( error ) {
          date = null;
        }
        return date;
      }

      function strDate( element ) {
        var selectedDate = getDate( element )
        // returns the month (from 0 to 11)
        var month = selectedDate.getMonth() + 1
        month = month.toString().padStart(2, '0')
        // returns the day of the month (from 1 to 31)
        var day = selectedDate.getDate().toString().padStart(2, '0')
        // returns the year (four digits)
        var year = selectedDate.getFullYear().toString()
        return year+month+day;
      };
      var fromDate = '20210312';
      var toDate = '29210312';
      /*$("#toDate", "#fromDate").change(function() {
        var fromElement=$("#fromDate")[0]
        var toElement=$("#toDate")[0]
        fromDate = strDate(fromElement)
        toDate = strDate(toElement)
        console.log(fromDate)
        console.log(toDate)
        console.log('henlo?')
        retrieveData(fromDate,toDate);
      });*/
      $("#fromDate").change(function() {
        fromDate = strDate(this)
        console.log(fromDate)
        retrieveData(fromDate,toDate)
      });
      $("#toDate").change(function() {
        toDate = strDate(this)
        console.log(toDate)
        retrieveData(fromDate,toDate)
      });
      /*$("#toDate, #fromDate").change(function() {
        console.log(getDate( this ))
      });*/

      function retrieveData(fromDate, toDate){
      endpoint = {{endpoint}} + fromDate + '/' + toDate
      $.ajax({
        method: "Get",
        url: endpoint,
        success: function(data){
        console.log(data)},
        error: function(error_data){
        console.log(error_data)}
      })
      };
    });
    {% endblock jquery%}
</script>

</body>
</html>