{% extends "snippets/Base.html" %}

{% block header %}
    {% load static %}
    <script type="text/javascript" src="{% static 'snippets/tabulator.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link href="https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css" rel="stylesheet">
    <title>Table - Stirling Dish Generator</title>

{% endblock header %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 mx-3 my-4 d-inline-block"><label class="d-inline-block w-25" for="fromDate">From:</label><input  class="d-inline-block mx-3" type="text" id="fromDate"></div>
        <div class="col-12 col-sm-4 mx-3 my-4 d-inline-block"><label class="d-inline-block w-25" for="toDate">To:</label><input  class="d-inline-block mx-3" type="text" id="toDate"></div>
    </div>
</div>
<div>
    <button id="download-csv">Download CSV</button>
</div>
<!--<iframe-->
<!--  width="600"-->
<!--  height="450"-->
<!--  style="border:0"-->
<!--  loading="lazy"-->
<!--  allowfullscreen-->
<!--  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDKi08CII_CRbIc2-fRrFUMvifm7VxzO58-->
<!--    &q=41.3846,2.1157">-->
<!--</iframe>-->
<div id="table"></div>
{% include "snippets/js-tables.html" %}
{% endblock body %}