<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #ui-datepicker-div {
            background-color: #eee;
            border: solid black 1px;
        };
        #google-visualization-errors-all-11{
            display:none;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registries</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
{% load static %}
<script type="text/javascript" src="{% static 'snippets/tabulator.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'snippets/jquery_wrapper.min.js' %}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<link href="https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css" rel="stylesheet">

<h1 class="mb-4">Hello World</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 mx-3"><label style="display: inline-block; width: 40px;" for="fromDate">From:</label><input style="display: inline-block;" class="mx-3" type="text" id="fromDate"></div>
        <div class="col-12 col-sm-4 mx-3"><label style="display: inline-block; width: 40px;" for="toDate">To:</label><input style="display: inline-block;" class="mx-3" type="text" id="toDate"></div>
    </div>
</div>
<div id="graph-selector" class="ml-4"></div>
    {% include "snippets/js_base.html" %}

<div>
    <button id="download-csv">Download CSV</button>
</div>
<div id="chart_div" class="m-4"></div>
<div id="toolbar_div" class="m-4"></div>
<div id="example-table"></div>
</body>
</html>