{% extends "snippets/Base.html" %}

{% block header %}
    {% load static %}
    <script type="text/javascript" src="{% static 'snippets/tabulator.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link href="https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css" rel="stylesheet">
    <title>Table - Stirling Dish Generator</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 41.3846, lng: 2.1157 },
          zoom: 8,
        });
      }
    </script>

{% endblock header %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 mx-3 my-4 d-inline-block"><label class="d-inline-block w-25" for="fromDate">From:</label><input  class="d-inline-block mx-3" type="text" id="fromDate"></div>
        <div class="col-12 col-sm-4 mx-3 my-4 d-inline-block"><label class="d-inline-block w-25" for="toDate">To:</label><input  class="d-inline-block mx-3" type="text" id="toDate"></div>
    </div>
</div>
{% include "snippets/js-tables.html" %}
<div>
    <button id="download-csv">Download CSV</button>
</div>
<!--<iframe-->
<!--  width="600"-->
<!--  height="450"-->
<!--  style="border:0"-->
<!--  loading="lazy"-->
<!--  allowfullscreen-->
<!--  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDKi08CII_CRbIc2-fRrFUMvifm7VxzO58-->
<!--    &q=41.3846,2.1157">-->
<!--</iframe>-->
<div id="table"></div>
<div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADJUdcbrkvsJVa0nWXuBMEBm_aEk0DLeM&callback=initMap&libraries=&v=weekly"
      async
    ></script>
{% endblock body %}